fastapi
uvicorn
sqlalchemy
aiosqlite
shortuuid
chardet
charset_normalizer
requests
bs4
networkx
spacy
kiwipiepy
scipy==1.12.0
scikit-learn==1.5.0
gensim
openpyxl
xlwt
xlrd
igraph
pandas==2.2.3
torch==2.3.0
