aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
aiosqlite==0.21.0
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
beautifulsoup4==4.13.4
bertopic==0.17.3
blis==1.2.1
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.16.0
colorama==0.4.6
confection==0.1.5
curated-tokenizers
curated-transformers
cymem==2.0.11
dataclasses-json==0.6.7
distro==1.9.0
et_xmlfile==2.0.0
fastapi==0.115.12
filelock==3.18.0
filetype==1.2.0
frozenlist==1.6.0
fsspec==2025.3.2
funcy
gensim==4.3.3
google-ai-generativelanguage
google-api-core==2.25.0rc0
google-api-python-client==2.169.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-generativeai
googleapis-common-protos==1.70.0
greenlet==3.2.1
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.36.0
idna==3.10
igraph==0.11.8
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
kiwipiepy==0.20.4
kiwipiepy_model==0.20.0
langchain==0.3.24
langchain-community==0.3.23
langchain-core==0.3.66
langchain-experimental==0.3.4
langchain-google-genai
langchain-ollama==0.3.2
langchain-openai==0.3.25
langchain-text-splitters==0.3.8
langcodes==3.5.0
langsmith
language_data==1.3.0
lxml==5.4.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mdurl==0.1.2
mpmath==1.3.0
multidict==6.4.3
murmurhash==1.0.12
mypy_extensions==1.1.0
narwhals
networkx==3.4.2
numpy==1.26.4
ollama==0.4.8
openai==1.91.0
openpyxl==3.1.5
ordered-set==4.1.0
orjson==3.10.17
packaging==24.2
pandas==2.2.3
plotly
preshed==3.0.9
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.4
psutil==7.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.4
pydantic-settings==2.9.1
pydantic_core==2.33.2
Pygments==2.19.1
pyLDAvis==3.4.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rich==14.0.0
rsa==4.9.1
safetensors==0.6.2
scikit-learn==1.6.1
scipy==1.13.1
shellingham==1.5.4
shortuuid==1.0.13
six==1.17.0
smart-open==6.4.0
sniffio==1.3.1
soupsieve==2.7
spacy==3.8.5
spacy-curated-transformers
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.40
srsly==2.5.1
starlette==0.46.2
sympy==1.14.0
tenacity==9.1.2
texttable==1.7.0
thinc==8.3.4
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.22.0
torch==2.8.0
torch-geometric==2.6.1
tqdm==4.67.1
transformers==4.56.1
typer==0.9.4
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.4.0
uvicorn==0.34.2
wasabi==1.1.3
weasel==0.3.4
wrapt==1.17.2
xlrd==2.0.1
xlwt==1.3.0
yarl==1.20.0
zstandard==0.23.0
